@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100%;
    width: 100%;
}

/* override browser default */
html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

.App {
    text-shadow: 0 0 2px #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.App h1 {
    font-family: 'Nixie One', cursive;
}

.glow {
    text-shadow: 0 0 5px #ffffff;
}
