@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100%;
    width: 100%;
}

/* override browser default */
html,
body {
    margin: 0;
    padding: 0;
}

/* use viewport-relative units to cover page fully */
body {
    height: 100vh;
    width: 100vw;
}

/* include border and padding in element width and height */
* {
    box-sizing: border-box;
}

.App {
    font-family: 'Montserrat', sans-serif;
    --color-text: #86eae7;
    --color-link: #fff;
    --color-link-hover: #86eae7;
    --color-title: #fff;
}

.App h1 {
    font-family: 'Nixie One', sans-serif;
}

.glow {
    text-shadow: 0 0 5px #ffffff;
}

button:hover {
    text-shadow: 0 0 10px #ffffff;
}
